:root{ 
  --main: #F05A28;   
  --light-primary: #FF8C5A;
  --dark-primary: #B54718;
  --accent-color: #007bff;
  --light-accent: #6ec6ff;
  --dark-accent: #0056b3;
  --background-color: #ffffff;
  --text-color: #333333;
}
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
}
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1441px;
  }
}
body{ 
  font-family: "Noto Sans Thai", sans-serif; 
}    
.logo1{
  max-height: 120px;
}
.sec2{
  margin-top: 40px;
}
.sec2 h2{
  margin-top: 20px;
  margin-bottom: 20px;
}
.sec3 .nav-link{ 
  border-radius: 0px;
  padding: 15px;
  color: #fff;
  border: 0px !important;
  transition: .33s all ease-out;  
}
.sec3 .nav-link.active{
  border: 0px !important;
  background-color: var(--main);
  color: #fff;
}
.sec3 .nav-link:hover{
  border: 0px !important;
  background-color: var(--main);
  color: #fff;
}
.sec3 .nav-tabs{ 
  background-color: var(--text-color); 
  border-bottom: 3px solid var(--main) !important;
  margin-bottom: 0px;
}
.form-x label{
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 10px;
}
.btn-primary{
  background-color: var(--accent-color);
}
.bts{
  margin-left: 10px;
  border-radius: 0px;
  margin-top: 34px;
} 
.form-x small{
  color: red;
  margin-top: 10px;
}
.tab-content{
  border: 2px solid var(--main);
}
footer{
  height: 50px;
  background-color: var(--main);
  color: #fff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 60px;
}
footer a{
  color: var(--accent-color);
  text-decoration: underline !important;
}
.box{
  background-color: #ececec;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  margin-bottom: 30px;
}
.box img{
  max-height: 200px;
  display: block;
  margin: auto;
  max-width: 100%;
  margin-top: 20px; 
  margin-bottom: 15px;
}
.box h3{ 
  margin-top: 20px;
  text-align: center;
}
.ulc{
  list-style: none;
  padding-left: 0px;
} 
.ulc li{
  margin-bottom: 10px;
  position: relative;
}
.ulc li a{
  font-size: 18px;
  padding-left: 30px;
  color: #000;
  transition: .33s all ease-out;  
} 
.ulc li:hover a{
  color: var(--accent-color);
  text-decoration: underline;
}
.ulc li a i{
  color: var(--accent-color);
  position: absolute;
  left: 0;
  font-size: 20px;
}
.carousel-control-prev{
  opacity: 1;
  left: -20px;
}
.carousel-control-prev-icon{
  background-color: var(--light-primary);
}
.carousel-control-next{
  opacity: 1;
  right: -20px;
}
.carousel-control-next-icon{
  background-color: var(--light-primary);
}
marquee{
  height: 50px;
  background-color:var(--main);
  color: #fff;
  padding-top: 15px;
}

/*

transition: .33s all ease-out;  
######################################################################################################
###################################################################################################### 
*/ 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }     
  .sec3 .tab-pane .p-5{
    padding: 0px !important;
  }
  .bts{
    font-size: 14px;
    margin-top: 36px;
  }
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }   
  .sec3 .nav-link{
    min-width: 200px;  
  }
}    
@media only screen and (width: 1024px) { /* PC */ 
}   
 


.js-example-basic-multiple + .select2{
  width: 100% !important;
}
.select2-container--default .select2-selection--single { 
  border-radius: 4px;
  border: 1px solid #D9D9D9 !important;
  background-color: #FFF;
} 
.select2-container--default .select2-selection--single:focus{ 
  border: 1px solid var(--bg-main);
} 
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;  
}
.select2-selection__rendered {
  line-height: 38px !important; 
  border-radius: 0px; 
}
.select2-container .select2-selection--single {
  height: 38px !important; 
  border-radius: 0px;
}
.select2-selection__arrow {
  height: 38px !important; 
  border-radius: 0px;
}
[type=search] {
  outline-offset: none !important;
  /* -webkit-appearance: none !important; */
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  font-size: 14px;
}
.select2-results__option--selectable {
  font-size: 14px;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}